<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<div th:insert="~{fragments/adminReturn.html :: return}"> </div><br/>
<form th:action="@{/materialsProduction/{materialId}/update(materialId=${materialProduction.id})}" method="post" th:object="${materialProduction}">
    <div>
        <label for="material">Material:
            <select id="material" name="materialId">
                <option th:each="material : ${materials}"
                        th:value="${material.id}"
                        th:selected="${material.id == materialProduction.material.id}"
                        th:text="|${material.nameOfMaterial}|">Name of material</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="brigade">Brigade:
            <select id="brigade" name="brigadeId">
                <option th:each="brigade : ${brigades}"
                        th:value="${brigade.id}"
                        th:selected="${brigade.id == materialProduction.brigade.id}"
                        th:text="${brigade.nameOfBrigade}">Name of brigade</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="quantity">Quantity:
            <input id="quantity" type="number" required step="0.5" min="10" max="3000" name="quantity" th:value="*{quantity}">
        </label>
    </div><br/>
    <div>
        <label for="dateOfProduction">Date of production:
            <input id="dateOfProduction" type="date" required name="dateOfProduction" th:value="*{dateOfProduction}">
        </label>
    </div><br/>
    <button type="submit">Update</button>
</form>
</body>
</html>