<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<div th:insert="~{/adminReturn.html :: return}"> </div><br/>
<form th:action="@{/production/{productId}/update(productId=${product.id})}" method="post" th:object="${product}">
    <input type="hidden" th:value="${flag}" name="flag"/>
    <div>
        <label for="worker">Worker:
            <select id="worker" name="workerId">
                <option th:each="worker : ${workers}"
                        th:value="${worker.id}"
                        th:selected="${worker.id == product.worker.id}"
                        th:text="|${worker.nameOfWorker} ${worker.surnameOfWorker}|">Name of worker</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="set">Kit:
            <select id="set" name="setId">
                <option th:each="kit : ${kits}"
                        th:value="${kit.id}"
                        th:selected="${kit.id == product.set.id}"
                        th:text="${kit.nameOfSet}">Name of kit</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="madeSets">Made sets:
            <input id="madeSets" type="number" required step="1" min="10" max="1000" name="madeSets" th:value="*{madeSets}">
        </label>
    </div><br/>
    <div>
        <label for="dateOfProduction">Date of production:
            <input id="dateOfProduction" type="date" name="dateOfProduction" th:value="*{dateOfProduction}">
        </label>
    </div><br/>
    <button type="submit">Update</button>
</form>
</body>
</html>