<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productions</title>
    <style> table,th,td{
        width: 900px;
        height:30px;
        border: solid 1px silver;
        text-align:center;
        border-collapse: collapse;
    }
    </style>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<div th:insert="~{fragments/adminReturn.html :: return}"> </div><br/>
<form th:action="@{/production}">
    <div>
        <label for="worker">Worker:
            <select id="worker" name="workerId">
                <option value="">Select worker</option>
                <option th:each="worker : ${workers}"
                        th:value="${worker.id}"
                        th:selected="${worker.id == filter.workerId()}"
                        th:text="|${worker.nameOfWorker} ${worker.surnameOfWorker}|">Name of worker</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="set">Kit:
            <select id="set" name="setId">
                <option value="">Select kit</option>
                <option th:each="kit : ${kits}"
                        th:value="${kit.id}"
                        th:selected="${kit.id == filter.setId()}"
                        th:text="${kit.nameOfSet}">Name of kit</option>
            </select>
        </label>
    </div><br/>
    <div>
        <label for="dateOfProduction">Date of production:
            <input id="dateOfProduction" type="date" name="dateOfProduction" th:value="${filter.dateOfProduction()}">
        </label>
    </div><br/>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${production.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${production.metadata.size}">
        </label>
    </div><br/>
    <button type="submit">Filter</button>
</form>
<div>
    <h2>Production: </h2>
    <p th:if="${production.content.isEmpty()}" th:text="|Production is empty|">Message</p>
    <table th:if="${!production.content.isEmpty()}">
        <thead>
        <tr><th>Name of worker</th><th>Surname of worker</th><th>Name of kit</th>
            <th>Made kits</th><th>Date of production</th><tr>
        </thead>
        <tbody>
        <tr th:each="product : ${production.content}">
            <td th:text="${product.worker.nameOfWorker}">Name of worker</td>
            <td th:text="${product.worker.surnameOfWorker}">Surname of worker</td>
            <td th:text="${product.set.nameOfSet}">Name of set</td>
            <td th:text="${product.madeSets}">Made sets</td>
            <td th:text="${product.dateOfProduction}">Date of production</td>
            <td><form th:action="@{/production/{productId}/delete(productId=${product.id})}" method="post" >
                <input type="hidden" th:value="${flag}" name="flag"/>
                <button type="submit">Delete</button>
            </form></td>
            <td><form th:action="@{/production/{productId}/update(productId=${product.id})}">
                <input type="hidden" th:value="${flag}" name="flag"/>
                <button type="submit">Update</button>
            </form></td></tr>
        </tbody>
    </table>
</div><br/>
<div>
    <form th:action="@{/production/createProduct}">
        <input type="hidden" th:value="${flag}" name="flag"/>
        <button type="submit">Add a note</button>
    </form>
</div>
</body>
</html>