<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productions</title>
    <style> table,th,td{
        width: 900px;
        height:30px;
        border: solid 1px silver;
        text-align:center;
        border-collapse: collapse;
    }
    </style>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<div th:insert="~{fragments/adminReturn.html :: return}"> </div>
<div th:if="${materials != null}">
    <h2>Production: </h2>
    <table>
        <thead>
        <tr><th>Name of material</th><th>Name of brigade</th><th>Quantity</th>
            <th>Date of production</th><tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materials}">
            <td th:text="${material.material.nameOfMaterial}">Name of material</td>
            <td th:text="${material.brigade.nameOfBrigade}">Name of brigade</td>
            <td th:text="${material.quantity}">Quantity</td>
            <td th:text="${material.dateOfProduction}">Date of production</td>
            <td><form th:action="@{/materialsProduction/{maerialId}/delete(mateiralId=${material.id})}" method="post" >
                <button type="submit">Delete</button>
            </form></td>
            <td><form th:action="@{/materialsProduction/{materialId}/update(materialId=${material.id})}">
                <button type="submit">Update</button>
            </form></td></tr>
        </tbody>
    </table>
</div><br/>
<div>
    <form th:action="@{/production/createProduct}">
        <button type="submit">Add a note</button>
    </form>
</div>
</body>
</html>