<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<p th:text="|Hello, ${session.user.name}|">Hello, User</p>
<h2>Workers:</h2>
<div th:each="worker : ${workers}">
    <a th:href="@{'/admin/' + ${worker.id} + '/worker'}" th:text="|${worker.id}. ${worker.nameOfWorker} ${worker.surnameOfWorker}|">Worker</a>
</div><br/>
<a th:href="@{'/production'}">Production</a><br/>
<a th:href="@{'/requirement'}">Requirement</a><br/>
<a th:href="@{'/materialsProduction'}">Materials Production</a><br/>
<a th:href="@{'/planningProduction'}">Planning Production</a><br/><br/>
<div>
    <form th:action="@{/admin/delete}" method="post">
        <button type="submit">Delete account</button>
    </form>
</div>
</body>
</html>