<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productions</title>
    <style> table,th,td{
        width: 900px;
        height:30px;
        border: solid 1px silver;
        text-align:center;
        border-collapse: collapse;
    }
    </style>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<div th:insert="~{fragments/adminReturn.html :: return}"> </div>
<div th:if="${requirementList != null}">
    <h2>Requirement: </h2>
    <table>
        <thead>
        <tr><th>Name of kit</th><th>Name of material</th><th>Cost of unit</th><th>Total kits</th><tr>
        </thead>
        <tbody>
        <tr th:each="requirement : ${requirementList}">
            <td th:text="${requirement.set.nameOfSet}">Name of set</td>
            <td th:text="${requirement.material.nameOfMaterial}">Name of material</td>
            <td th:text="${#numbers.formatDecimal(requirement.unitCost,1,3,'COMMA')}">Cost of unit</td>
            <td th:text="${requirement.totalSets}">Total sets</td>
            <td><form th:action="@{/production/{productId}/delete(productId=${requirement.id})}" method="post" >
                <button type="submit">Delete</button>
            </form></td>
            <td><form th:action="@{/production/{productId}/update(productId=${requirement.id})}">
                <button type="submit">Update</button>
            </form></td></tr>
        </tbody>
    </table>
</div><br/>
<div>
    <form th:action="@{/production/createProduct}">
        <button type="submit">Add a note</button>
    </form>
</div>
</body>
</html>