<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productions</title>
    <style> table,th,td{
        width: 900px;
        height:30px;
        border: solid 1px silver;
        text-align:center;
        border-collapse: collapse;
    }
    </style>
</head>
<body>

<div th:if="${kits != null}">
        <h2>His released sets: </h2>
        <table>
            <thead>
            <tr><th>Name of set</th><th>Made sets</th><th>Date of production</th><tr>
            </thead>
            <tbody >
                <tr th:each="kit : ${kits}"><td th:text="${kit.set.nameOfSet}">Name of set</td>
                    <td th:text="${kit.madeSets}">Made sets</td>
                    <td th:text="${kit.dateOfProduction}">Date of production</td>
                    <td><a href='./deleteUserProductionAdmin?id=${set.id}'>Delete</a></td>
                    <td><a href='./updateUserProductionAdmin?id=${set.id}'>Update</a></td></tr>
            </tbody>
        </table>
    </c:if>
</div><br/>
</body>
</html>