<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productions</title>
    <style> table,th,td{
        width: 900px;
        height:30px;
        border: solid 1px silver;
        text-align:center;
        border-collapse: collapse;
    }
    </style>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"> </div><br/>
<p th:text="|Hello, ${session.user.name}|">Hello, User</p>
<div>
    <h2>Your planned sets: </h2>
    <table th:with="totalWorker=0">
        <thead>
            <tr><th>Name of set</th><th>Plan</th><th>Unit cost</th><th>Planed total cost</th><tr>
        </thead>
        <tbody>
        <tr th:each="setOfWorker : ${setsOfWorker}"><td th:text="${setOfWorker.set.nameOfSet}">Name of set</td>
            <td th:text="${setOfWorker.requirement}">Plan</td>
            <td th:text="${#numbers.formatDecimal(setOfWorker.set.rateOfSet,3,'POINT',2,'COMMA')}">Unit cost</td>
            <td th:with="allCost=${setOfWorker.set.rateOfSet * setOfWorker.requirement}"
                th:text="${#numbers.formatDecimal(allCost,3,'POINT',2,'COMMA')}">Planed total cost</td>
            <p th:with="allCost=${setOfWorker.set.rateOfSet * setOfWorker.requirement}, totalWorker = ${totalWorker + allCost}"></p>
            <td><form th:action="@{/workersSets/{setOfWorkerId}/delete(setOfWorkerId=${setOfWorker.id})}" method="post">
                <button type="submit">Delete</button>
            </form></td>
            <td><form th:action="@{/workersSets/{setOfWorkerId}/update(setOfWorkerId=${setOfWorker.id})}">
                <button type="submit">Update</button>
            </form></td></tr>
        <tr><td colspan="3"><b>Total sum:</b></td><td th:text="${#numbers.formatDecimal(totalWorker,3,'POINT',2,'COMMA')}"><b>Total sum</b></td></tr>
        </tbody>
    </table>
</div><br/>
<div>
    <form th:action="@{/workersSets/{workerId}/createSetForWorker(workerId=${worker.id})}">
        <button type="submit">Add a note</button>
    </form>
</div>
<div th:if="${releasedSets != null}">
    <h2>Your released sets: </h2>
    <table>
        <thead>
        <tr><th>Name of set</th><th>Made sets</th><th>Date of production</th><tr>
        </thead>
        <tbody >
        <tr th:each="product : ${releasedSets}"><td th:text="${product.set.nameOfSet}">Name of set</td>
            <td th:text="${product.madeSets}">Made sets</td>
            <td th:text="${product.dateOfProduction}">Date of production</td>
            <td><form th:action="@{/production/{productId}/delete(productId=${product.id})}" method="post">
                <button type="submit">Delete</button>
            </form></td>
            <td><form th:action="@{/production/{productId}/update(productId=${product.id})}">
                <button type="submit">Update</button>
            </form></td></tr>
        </tbody>
    </table>
</div><br/>
<div>
    <form th:action="@{/production/{workerId}/createProductForWorker(workerId=${worker.id})}">
        <button type="submit">Add a note</button>
    </form>
</div>
</body>
</html>