<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{fragments/header.html :: locale}"> </div><br/>
<form action="/login" method="post">
    <label for="email"><span th:text="#{login.email}">Email:</span>
        <input id="email" type="text" name="email">
    </label><br/><br/>
    <label for="password"><span th:text="#{login.password}">Password:</span>
        <input id="password" type="password" name="password">
    </label><br/><br/>
    <button type="submit">Login</button>
</form><br/>
<form action="/login/registration">
    <button type="submit">Registration</button>
</form>
<div th:if="${err != null}">
    <p style="color: red" th:text="|${err.message()}|">Error message</p>
</div>
</body>
</html>